.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 43%;
  background-color: #ffa500;
  color: white;
  font-weight: bold;
  width: 9vh;
  height: 9vh;
  font-size: 29px;
}

.logo p {
  margin-left: -5%;
  font-family: "Gloria Hallelujah";
}

@media (min-width: 600px) and (orientation: portrait) {
  .logo {
    font-size: 46px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .logo {
    width: 13vh;
    height: 13vh;
    font-size: 27px;
  }
}

@media (min-width: 755px) and (orientation: landscape) {
  .logo {
    width: 12vh;
    height: 12vh;
    font-size: 29px;
  }
}

@media (min-width: 900px) and (orientation: landscape) {
  .logo {
    width: 9.5vh;
    height: 9.5vh;
    font-size: 36px;
  }
}

@media (min-width: 1100px) and (orientation: landscape) {
  .logo {
    width: 9vh;
    height: 9vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .logo {
    font-size: 32px;
  }
}
