.bigScreenNavContainer {
  display: none;
}

@media (min-width: 1000px) and (orientation: landscape) {
  .smallScreenNavContainer {
    display: none;
  }
  .bigScreenNavContainer {
    display: block;
    flex-basis: 25%;
  }
}

@media (min-width: 1320px) and (orientation: landscape) {
  .bigScreenNavContainer {
    flex-basis: 20%;
    max-width: 350px;
  }
}
