.postEditionPanelOptionComponent {
  font-size: 14px;
  padding: 0.5em 0;
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
  outline: none;
}

.postEditionPanelOptionComponent:hover {
  color: #555;
}

@media (min-width: 411px) and (orientation: portrait) {
  .postEditionPanelOptionComponent {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .postEditionPanelOptionComponent {
    font-size: 20px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .postEditionPanelOptionComponent {
    font-size: 18px;
  }
}
