.friendComponent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

.button {
  font-size: 14px;
  padding: 0.3em 1.3em;
  margin-left: 1em;
}

.hiddenUser {
  animation: hideUser 0.15s both;
}

@keyframes hideUser {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .friendComponent {
    margin: 1.2em 0;
  }

  .button {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .friendComponent {
    margin: 0.8em 0;
  }

  .button {
    padding: 0.3em 1.2em;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .button {
    padding: 0.3em 0.8em;
    font-size: 15px;
  }
}
