.autoCompleteOptionComponent {
  padding: 3% 0;
}

.profileImage {
  width: 13%;
  border-radius: 50%;
  background-color: #bbb;
  margin-right: 4%;
}

.user {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
}

.autoCompleteOptionComponent:hover .user {
  color: #ce8405;
}

@media (min-width: 411px) and (orientation: portrait) {
  .autoCompleteOptionComponent {
    padding: 2.5% 0;
  }
  .profileImage {
    width: 15%;
  }
  .user {
    font-size: 16px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .autoCompleteOptionComponent {
    padding: 2.5% 0;
  }
  .profileImage {
    width: 15%;
  }
  .user {
    font-size: 24px;
  }
}
@media (min-width: 600px) and (orientation: landscape) {
  .autoCompleteOptionComponent {
    padding: 2% 0;
  }
  .profileImage {
    width: 9%;
    margin-right: 3%;
  }
  .user {
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .autoCompleteOptionComponent {
    padding: 2.5% 0;
  }

  .profileImage {
    width: 13%;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
}
