@import './../../../../scssUtilities/colors';

.userInfoComponent {
  position: relative;
  border-bottom: 1px solid #888;
  background-color: rgb(233, 233, 233);
  padding: 4% 5%;
  min-height: 20vh;
}

.infoTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.image {
  width: 100px;
  border: 3px solid #fff;
  background-color: $gray-20;
  border-radius: 5px;
  min-height: 120px;
}
.button {
  align-self: flex-start;
  font-size: 15px;
}

.name {
  color: $gray-60;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.description {
  font-size: 14px;
  color: $gray-50;
  margin: 0.8em 0 1em;
}

.moreInfoContainer {
  display: flex;
  flex-wrap: wrap;
}

.buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.chatLink {
  padding: 0.39em;
  background-color: #ffa500;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 0.5em;
  border: 2px solid #e08f03;
  transition: 0.19s;
}

.chatLink:hover {
  background-color: #f59c03;
  border: 2px solid #ce8405;
}

@media (min-width: 411px) and (orientation: portrait) {
  .userInfoComponent {
    padding: 4% 8% 2%;
    min-height: 30vh;
  }

  .image {
    width: 140px;
  }
  .button {
    font-size: 16px;
  }

  .name {
    font-size: 26px;
  }

  .description {
    font-size: 16px;
  }

  .moreInfoContainer {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 550px) and (orientation: portrait) {
  .userInfoComponent {
    padding: 4% 15% 2%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .image {
    width: 150px;
  }

  .button {
    font-size: 24px;
  }

  .name {
    font-size: 32px;
  }

  .description {
    margin: 3% 0 4%;
    font-size: 23px;
  }

  .chatLink {
    padding: 0.7em;
    margin-right: 0.6em;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .userInfoComponent {
    padding: 2% 22%;
    min-height: 200px;
  }

  .image {
    width: 110px;
  }
  .button {
    font-size: 16px;
  }

  .name {
    font-size: 22px;
  }

  .description {
    font-size: 15px;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .userInfoComponent {
    padding: 2.5% 25% 1.5%;
  }

  .image {
    width: 140px;
    min-height: 130px;
  }

  .name {
    font-size: 23px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .userInfoComponent {
    padding: 3% 3% 2%;
    min-height: 150px;
  }

  .button {
    font-size: 16px;
  }

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 15px;
  }
}
