.friendComponent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}

.user {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #555;
  font-size: 15px;
  flex-basis: 70%;
}
.profileImage {
  width: 6vh;
  height: 6vh;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 5%;
}

.button {
  font-size: 14px;
  padding: 1.5% 7%;
}

@media (min-width: 600px) and (orientation: portrait) {
  .friendComponent {
    margin: 6% 0;
  }

  .user {
    font-size: 23px;
  }

  .profileImage {
    height: 5vh;
    width: 5vh;
    margin-right: 4%;
  }

  .button {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .friendComponent {
    margin: 2.5% 0;
  }

  .profileImage {
    height: 10vh;
    width: 10vh;
  }

  .button {
    padding: 1% 4.5%;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .friendComponent {
    margin: 2% 0;
  }

  .user {
    font-size: 17px;
  }

  .profileImage {
    height: 9vh;
    width: 9vh;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .friendComponent {
    margin: 5% 0;
  }

  .user {
    font-size: 16px;
  }

  .profileImage {
    height: 4.5vh;
    width: 4.5vh;
  }

  .button {
    font-size: 16px;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .friendComponent {
    margin: 6% 0;
  }
  .user {
    flex-basis: 80%;
  }

  .profileImage {
    height: 5vh;
    width: 5vh;
    margin-right: 4%;
  }

  .button {
    font-size: 15px;
  }
}
