.addPostModuleComponent {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px 1px #ddd;
  box-shadow: 0px 2px 8px 1px #ddd;
  padding: 0.5em 0.5em 0.3em;
  border-radius: 10px;
  position: relative;
}

.textarea {
  display: block;
  width: 100%;
  height: 70px;
  outline: none;
  border: none;
  border-radius: 6px;
  border: 2px solid #ddd;
  padding: 0.4em;
  color: #777;
  resize: none;
}

::placeholder {
  color: #777;
}

.addPostModulBottomBar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.button {
  font-size: 14px;
  padding: 0.1em 2em;
}

.photoPreviewContainer {
  margin: 0.5em 0;
  max-height: 40vh;
  overflow: auto;
  position: relative;
}

.photoPreview {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.spinnerContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.spinnerWhite {
  border-color: white;
  border-left-color: #aaa;
}

@media (min-width: 768px) and (orientation: portrait) {
  .addPostModuleComponent {
    padding: 0.8em 0.8em 0.6em;
  }
  .textarea {
    font-size: 24px;
    height: 100px;
  }

  .button {
    font-size: 22px;
  }
  .addPostModulBottomBar {
    display: flex;
    justify-content: space-between;
  }

  .photoPreviewContainer {
    margin: 1em 0;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .textarea {
    height: 65px;
  }
  .button {
    font-size: 14px;
  }

  .photoPreviewContainer {
    max-height: 60vh;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .textarea {
    height: 75px;
    font-size: 15px;
  }

  .button {
    font-size: 16px;
  }

  .photoPreviewContainer {
    border-radius: 10px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .textarea {
    height: 70px;
    font-size: 17px;
  }

  .button {
    font-size: 18px;
  }

  .photoPreviewContainer {
    max-height: 45vh;
  }
}
