.blockedChatInfoComponenet {
  border: 1px solid #ccc;
  padding: 1.1em;
  width: 100%;
  font-size: 17px;
  background-color: rgb(250, 207, 207);
  border-bottom: none;
  text-align: center;
}

.link {
  color: #e2940c;
}
