@import './../../../../../scssUtilities';

.text {
  font-size: 13px;
  color: $gray-60;

  @include tabletVertical {
    font-size: 20px;
  }

  @include tabletHorizontal {
    font-size: 14px;
  }

  @include laptop-sm {
    font-size: 16px;
  }
}

.postImage {
  margin-top: 0.65em;
  width: 100%;

  @include laptop-sm {
    margin-top: 0.7em;
  }
}
