.modal {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 90vh;
  background-color: #fff;
  padding: 6%;
  overflow-y: auto;
  display: none;
}

.modalVisible {
  display: block !important;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin: 1.5em 0 1em;
}

.input {
  margin: 0.25em 0;
  width: 100%;
}

.button {
  width: 10em;
  margin: 1.5em auto;
}

@media (min-width: 768px) and (orientation: portrait) {
  .modal {
    width: 80%;
    height: 85vh;
  }

  .title {
    font-size: 42px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .modal {
    width: 87%;
    height: 85vh;

    padding: 5%;
  }

  .title {
    font-size: 26px;
  }

  .input {
    width: 90%;
  }

  .button {
    margin: 1.5em 0 0;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .modal {
    width: 82%;
    height: 80vh;
  }

  .title {
    font-size: 29px;
  }

  .input {
    width: 85%;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .modal {
    width: 65%;
    height: 80vh;
    padding: 4%;
  }

  .title {
    font-size: 34px;
  }

  .input {
    width: 80%;
  }
}

@media (min-width: 1300px) {
  .modal {
    width: 60%;
    padding: 3%;
  }

  .title {
    font-size: 37px;
  }

  .input {
    width: 70%;
  }
}
