.headerComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  border-bottom: 1px solid #777;
}

.headerLeftSide {
  display: flex;
  //   align-items: center;
}

.sectionName {
  font-weight: bold;
  font-size: 25px;
  color: #555;
  margin-left: 13%;
  margin-top: 1px;
}

@media (min-width: 411px) and (orientation: portrait) {
  .sectionName {
    margin-top: 2px;
    font-size: 28px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .headerComponent {
    height: 10vh;
  }
  .sectionName {
    font-size: 40px;
    margin-top: 6px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .headerComponent {
    height: 17vh;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .headerComponent {
    height: 16vh;
    padding: 0 4%;
  }
  .sectionName {
    font-size: 28px;
    margin-top: 2px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .headerComponent {
    height: 12%;
  }

  .sectionName {
    margin-top: 0;
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .headerComponent {
    height: 11%;
  }
}

@media (min-width: 1300px) {
  .headerComponent {
    height: 10%;
  }
}
