.pageContentWrapperComponent {
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

@media (min-width: 1000px) and (orientation: landscape) {
  .pageContentWrapperComponent {
    width: 100%;
    display: flex;
  }
}

@media (min-width: 1150px) and (orientation: landscape) {
  .pageContentWrapperComponent {
    padding: 0 5rem;
  }
}

@media (min-width: 1320px) and (orientation: landscape) {
  .pageContentWrapperComponent {
    padding: 0 10%;
  }
}
