@import './../../../scssUtilities/colors';

.button {
  color: white;
  border: 2px solid $orange-20;
  font-size: 18px;
  padding: 0.6em 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  transition: 0.19s;
  cursor: pointer;
  outline: none;
  display: block;
}

.buttonNormal:hover {
  background-color: $orange-15;
  border: 2px solid $orange-25;
}
.buttonTransparent:hover {
  background-color: $orange-05;
}

.buttonNormal {
  background-color: $orange-10;
}

.buttonTransparent {
  background-color: transparent;
  color: $orange-20;
}

.buttonDisabled {
  cursor: not-allowed;
  border-color: $gray-25;
  color: $gray-25aa;
  background-color: #eee;
}

.buttonDisabled:hover {
  border-color: $gray-25;
  color: $gray-25;
  background-color: #eee;
}
@media (min-width: 500px) and (orientation: portrait) {
  .button {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .button {
    font-size: 28px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .button {
    font-size: 21px;
  }
}

@media (min-width: 1300px) {
  .button {
    font-size: 22px;
  }
}
