.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 43%;
  background-color: #ffa500;
  color: white;
  font-weight: bold;
}

.logo p {
  margin-left: -5%;
  font-family: "Gloria Hallelujah";
}
