.userComponent {
  color: #555;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.userComponent:hover .name {
  color: #ce8405;
}

.imageContainer {
  flex-basis: 27px;
  position: relative;
}

.image {
  width: 100%;
  height: 27px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
}

.name {
  margin-left: 10px;
  font-size: 16px;
}

.currChat {
  color: #ce8405 !important;
}

@media (min-width: 768px) and (orientation: portrait) {
  .name {
    font-size: 23px;
  }

  .imageContainer {
    flex-basis: 32px;
  }

  .image {
    height: 32px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .imageContainer {
    flex-basis: 30px;
  }
  .image {
    flex-basis: 30px;
    height: 30px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .imageContainer {
    flex-basis: 32px;
  }
  .image {
    flex-basis: 32px;
    height: 32px;
  }

  .name {
    font-size: 15px;
  }
}
