.homeComponent {
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

@media (min-width: 1000px) and (orientation: landscape) {
  .homeComponent {
    width: 100%;
    display: flex;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .homeComponent {
    padding: 0 5%;
  }
}

@media (min-width: 1320px) and (orientation: landscape) {
  .homeComponent {
    padding: 0 10%;
  }
}
