$orange-05: rgba(255, 165, 0, 0.08);
$orange-10: #ffa500;
$orange-15: #f59c03;
$orange-20: #e08f03;
$orange-25: #ce8405;

$gray-10: #ddd;
$gray-20: #bbb;
$gray-25: #aaa;
$gray-35: #888;
$gray-40: #777;
$gray-50: #555;
$gray-60: #333;
