.navItemComponent {
  display: flex;
  align-items: center;
  padding: 4% 3%;
  border-radius: 30px;
  cursor: pointer;
}

.navItemComponent:hover {
  background-color: rgba(255, 165, 0, 0.2);
}

.iconContainer {
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.icon {
  width: 100%;
}

.description {
  font-size: 16px;
  color: #555;
}

@media (min-width: 411px) and (orientation: portrait) {
  .description {
    font-size: 19px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .description {
    font-size: 29px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .navItemComponent {
    display: flex;
    align-items: center;
    padding: 2% 3%;
    border-radius: 30px;
    cursor: pointer;
  }

  .iconContainer {
    margin-right: 3%;
  }

  .description {
    font-size: 16px;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .navItemComponent {
    padding: 2.5%;
  }

  .iconContainer {
    margin-right: 2%;
  }

  .description {
    font-size: 17px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .navItemComponent {
    padding: 4.5% 3%;
  }

  .iconContainer {
    margin-right: 3%;
  }

  .description {
    font-size: 20px;
  }
}

@media (min-width: 1150px) and (orientation: landscape) {
  .navItemComponent {
    padding: 4.5% 3%;
  }

  .iconContainer {
    margin-right: 3%;
  }

  .description {
    font-size: 19px;
  }
}

@media (min-width: 1320px) and (orientation: landscape) {
  .navItemComponent {
    padding: 5% 3%;
  }
}
