.postEditionModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245);
  padding: 1em 1em 0.6em;
  z-index: 11;
  width: 80%;
  -webkit-box-shadow: 0px 0px 4px 2px #aaaaaa;
  box-shadow: 0px 0px 4px 2px #aaaaaa;
}

.textArea {
  display: block;
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 6px;
  border: 2px solid #ddd;
  color: #777;
  resize: none;
  margin-bottom: 1em;
  background-color: #fff;
}

.imageContainer {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  position: relative;
  margin-bottom: 1.5%;
}

.image {
  width: 100%;
}

.imageBg {
  width: 100%;
  min-height: 40vh;
  background-color: rgba(253, 253, 253, 1);
}

.bottomBar {
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 13px;
  padding: 0.3em 1em;
}

@media (min-width: 500px) and (orientation: portrait) {
  .postEditionModal {
    width: 400px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .postEditionModal {
    width: 65%;
  }

  .textArea {
    padding: 0.4em;
    font-size: 14px;
  }

  .imageContainer {
    max-height: 50vh;
    margin-bottom: 2%;
  }

  .image {
    width: 100%;
  }

  .bottomBar {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .postEditionModal {
    width: 530px;
  }
  .textArea {
    padding: 0.4em;
    font-size: 15px;
  }

  .imageContainer {
    max-height: 50vh;
    margin-bottom: 0.5em;
  }

  .image {
    width: 100%;
  }

  .bottomBar {
    display: flex;
    justify-content: space-between;
  }

  .button {
    font-size: 14px;
    padding: 0.3em 1em;
  }
}
