.input {
  border: none;
  outline: none;
  padding: 2%;
  border-bottom: 2px solid #e08f03;
  font-size: 18px;
  background-color: transparent;
  color: #e08f03;
}

::placeholder {
  color: #e08f03;
}

.input:focus {
  border-color: #ffa500;
  color: #ffa500;
}

.input:focus::placeholder {
  color: #ffa500;
}

@media (min-width: 600px) and (orientation: portrait) {
  .input {
    font-size: 24px;
  }
}
