.bigScreenNavComponent {
  padding: 8% 5%;
  height: 100vh;
  overflow: auto;
}

.logo {
  width: 4.2vw;
  height: 4.2vw;
  font-size: 27px;
  margin-left: 3%;
}

@media (min-width: 1150px) and (orientation: landscape) {
  .bigScreenNavComponent {
    padding: 8% 6%;
  }

  .logo {
    width: 4.2vw;
    height: 4.2vw;
    font-size: 29px;
  }
}

@media (min-width: 1320px) and (orientation: landscape) {
  .bigScreenNavComponent {
    padding: 7% 3%;
  }

  .logo {
    width: 2.8vw;
    height: 2.8vw;
    font-size: 25px;
  }
}
