@import './../../../../scssUtilities';

.info {
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 1.3em;
  color: $gray-60;

  @include tabletVertical {
    font-size: 23px;
  }

  @include mobileHorizontal {
    font-size: 15px;
  }
}

.discoverFriendsComponent {
  @include laptop-sm {
    margin-bottom: 10%;
  }
}
