@import './../../scssUtilities';

.nofoundComponent {
  padding: 3em 1em;

  @include tabletHorizontal {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    justify-content: space-between;
  }

  @include laptop-sm {
    max-width: 850px;
    font-size: 20px;
  }
}

.nofoundComponent h4 {
  margin: 1.7em 0;
}

.nofoundComponent span {
  color: #888;
  font-weight: normal;
}

.imageContainer {
  display: none;

  @include tabletHorizontal {
    display: block;
    flex-basis: 30%;
  }

  @include laptop-sm {
    flex-basis: 40%;
  }
}

.text {
  @include tabletHorizontal {
    flex-basis: 50%;
    margin-right: 7%;
  }
}

.imageContainer img {
  @include tabletHorizontal {
    width: 100%;
  }
}
