.discoverChatComponent {
  flex-grow: 1;
}

.chat {
  margin-top: 5%;
}

.info {
  color: #333;
  font-size: 14px;
}

@media (min-width: 600px) and (orientation: portrait) {
  .info {
    font-size: 23px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .chat {
    margin-top: 4%;
  }
  .info {
    font-size: 15px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .chat {
    margin-top: 0%;
  }
}
