@import './../../../scssUtilities';

.mainContentWrapperComponent {
  min-height: 100vh;

  @include laptop-sm {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    flex-basis: 50%;
    height: 100vh;
    overflow-y: auto;
    max-width: 700px;
  }
}

.mainContentWrapperComponent main {
  padding: 5%;
  min-height: 70%;

  @include mobileVertical {
    padding: 4% 15%;
  }

  @include mobileHorizontal {
    padding: 3% 23%;
  }

  @include laptop-sm {
    padding: 3%;
  }
}
