@import './../../../../scssUtilities';

.info {
  margin: 0.5em 0;
  color: $gray-60;
  font-size: 14px;

  @include mobileHorizontal {
    font-size: 15px;
  }

  @include mobileVertical {
    font-size: 23px;
  }
}
