@import './../../../../scssUtilities';

.modal {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  background-color: #fff;
  padding: 1.5em;
  overflow-y: auto;
  display: block;

  @include tabletVertical {
    width: 75%;
    height: 75vh;
    padding: 2em;
  }

  @include mobileHorizontal {
    width: 75%;
    height: 80vh;
    max-width: 700px;
  }

  @include laptop-sm {
    padding: 1.7em;
  }
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin: 1.3em 0 0.8em;

  @include tabletVertical {
    font-size: 42px;
  }

  @include mobileHorizontal {
    font-size: 26px;
  }

  @include tabletHorizontal {
    font-size: 29px;
  }

  @include laptop-sm {
    font-size: 35px;
  }
}

.inputsContainer {
  margin-bottom: 1.5em;

  @include mobileHorizontal {
    margin-bottom: 2em;
  }

  @include tabletVertical {
    margin-bottom: 2.5em;
  }
}

.input {
  margin: 0.25em 0;
  width: 100%;

  @include mobileHorizontal {
    width: 90%;
    max-width: 400px;
  }
}

.birthdayDateTitle {
  font-size: 18px;
  margin-top: 1.4em;

  @include tabletVertical {
    font-size: 35px;
  }

  @include mobileHorizontal {
    font-size: 24px;
  }

  @include tabletHorizontal {
    font-size: 27px;
  }

  @include laptop-sm {
    font-size: 31px;
  }

  @include laptop-lg {
    font-size: 33px;
  }
}

.birthdayDateInfo {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1.5em;

  @include tabletVertical {
    font-size: 22px;
  }

  @include tabletHorizontal {
    font-size: 16px;
  }

  @include laptop-sm {
    font-size: 19px;
  }
}

.birthSelectsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  max-width: 400px;

  @include tabletVertical {
    margin-bottom: 10%;
  }

  @include mobileHorizontal {
    width: 80%;
  }

  @include tabletHorizontal {
    margin-bottom: 3em;
  }
}

.selectStreched {
  flex-grow: 2;
  margin: 0 5%;

  @include tabletVertical {
    margin: 0 7%;
  }

  @include mobileHorizontal {
    margin: 0 7%;
  }

  @include laptop-lg {
    margin: 0 5%;
  }
}

.button {
  width: 80%;
  max-width: 220px;
  margin: 0 auto;

  @include tabletVertical {
    max-width: 260px;
  }

  @include mobileHorizontal {
    margin: 0;
  }
}
