.modal {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 90vh;
  background-color: #fff;
  padding: 6%;
  overflow-y: auto;
  display: none;
}

.modalVisible {
  display: block;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin: 1.3em 0 0.8em;
}

.input {
  margin: 0.25em 0;
  width: 100%;
}

.birthdayDateTitle {
  font-size: 18px;
  margin-top: 1.4em;
}

.birthdayDateInfo {
  font-size: 15px;
  margin-top: 0.7em;
  margin-bottom: 1.2em;
}

.birthSelectsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.selectStreched {
  flex-grow: 2;
  margin: 0 5%;
}

.button {
  width: 80%;
  max-width: 220px;
  margin: 0 auto;
}

@media (min-width: 768px) and (orientation: portrait) {
  .modal {
    width: 80%;
    height: 85vh;
  }

  .title {
    font-weight: bold;
    font-size: 42px;
  }

  .input {
    width: 100%;
  }

  .birthdayDateTitle {
    font-size: 35px;
  }

  .birthdayDateInfo {
    font-size: 22px;
  }

  .birthSelectsContainer {
    margin-bottom: 10%;
  }

  .selectStreched {
    margin: 0 7%;
  }

  .button {
    width: 65%;
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .modal {
    width: 87%;
    height: 85vh;
    padding: 6%;
  }

  .title {
    font-size: 26px;
  }

  .input {
    width: 90%;
  }

  .birthdayDateTitle {
    font-size: 24px;
  }

  .birthSelectsContainer {
    width: 80%;
  }

  .selectStreched {
    margin: 0 7%;
  }

  .button {
    width: 50%;
    max-width: 280px;
    margin: 0;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .modal {
    width: 82%;
    height: 80vh;
    padding: 5%;
  }

  .title {
    font-size: 29px;
  }

  .input {
    width: 85%;
  }

  .birthdayDateTitle {
    font-size: 27px;
  }

  .birthdayDateInfo {
    font-size: 16px;
  }

  .birthSelectsContainer {
    width: 75%;
    margin-bottom: 3em;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .modal {
    width: 65%;
    height: 80vh;
    padding: 4% 4;
  }

  .title {
    font-size: 35px;
  }

  .input {
    width: 80%;
  }

  .birthdayDateTitle {
    font-size: 31px;
  }

  .birthdayDateInfo {
    font-size: 19px;
  }

  .birthSelectsContainer {
    width: 70%;
  }
}

@media (min-width: 1300px) {
  .modal {
    width: 60%;
    padding: 3%;
  }

  .title {
    font-size: 37px;
  }

  .input {
    width: 70%;
  }

  .birthdayDateTitle {
    font-size: 33px;
  }

  .birthdayDateInfo {
    font-size: 19px;
  }

  .birthSelectsContainer {
    width: 55%;
  }

  .selectStreched {
    margin: 0 5%;
  }
}
